<header>
  <h1>Sign Up Page with Angular</h1>
</header>

<div id="sign-up-form-container">
  <form id="sign-up-form" action="">
    <div class="form-input-pair">
      <mat-form-field class="form-input" appearance="fill">
        <mat-label>First Name:</mat-label>
        <input matInput name="firstName" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name:</mat-label>
        <input matInput name="lastName" />
      </mat-form-field>
    </div>

    <div class="form-input-pair">
      <mat-form-field appearance="fill">
        <mat-label>Username:</mat-label>
        <input matInput name="username" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="passowrd" />
        <!-- button to show and hide passowrd while typing -->
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="form-input-pair">
      <mat-form-field appearance="fill">
        <mat-label>Date of Birth:</mat-label>
        <input type="date" matInput name="dob" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Country:</mat-label>
        <input matInput name="country" />
      </mat-form-field>
    </div>

    <!-- putting button in separate div to center it horizontally -->
    <div class="submit-button-container">
      <input type="button" value="Sign Up" />
    </div>
  </form>
</div>
